<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="stylesheet" href="./style3.css">
</head>

<body>
  <div class="container" id="app">
    <h1>リアルタイム検索</h1>
    <input type="text" v-model="input_text">
    <ul class=" sujest">
      <li v-for="item in selected_items ">{{item}}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        input_text: '',
        items: ['apple', 'banana', 'orange', 'bery'],
        sel_items: ['new_apple', 'new_banana', 'new_orange'],
      },

      metchods: {
        check: function (item) {
          // alert(item);
          return 'null__class';
        },
      },

      filters: {
        filtter: function (item) {
          return " [[[" + item + "]]]";
        }
      },

      computed: {
        selected_items: function () {
          // 一度クリア
          this.sel_items = [];
          for (let i = 0; i < this.items.length; i++) {
            if (this.input_text == '') {
              //全部表示
              this.sel_items[this.sel_items.length] = this.items[i];
            }
            else if (this.items[i].indexOf(this.input_text) == 0) {
              // 先頭が一致していれば
              this.sel_items[this.sel_items.length] = this.items[i];
            }
            // 表示は３個まで
            if (this.sel_items.length > 3) break;
          }
          // alert(this.sel_items);
          console.log(this.sel_items);
          // console.log(this.input_text.indexOf('a'));
          return this.sel_items;
        },
      }
    }); </script>
</body>

</html>